head
{
    margin: 0;
}
body
{
    font-family: 'Inter', sans-serif;
    margin: 0;
}
.extra img
{
    display: flex;
    justify-content: center;
    width: 10%;
}
.menu
{
    font-weight: bolder;
    margin: 1%;
    padding: 10px 20% 10px 0px;
}
h1
{
    line-height: 20px;
    font-size: 40px;
}
h2
{
    font-size: 35px;
    color: grey;
}
h3
{
    size: 50px;
    color: gray;
}
.one-word
{
    color: orange;
}
.button{
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(to right, #fdad00,#fe4f31);
    border-radius: 25px;
}
.flex
{
    display: flex;
}
.section-1
{
    margin: 70px 150px 100px;
}
.half p
{
    padding-right: 10px;
}
.half
{
    position: relative;
    width: 50%;
}
.half img
{
    width: 100%;
}
.section-2
{
    background-image: url(/Images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.half2 p
{
    padding-right: 20%;
}
.half2
{
    margin: 70px 150px 100px;
    padding-right: 5%;
    width: 50%;
}
.half2 img
{
    padding-left: 40%;
}
.recipies
{
    font-weight: 600;
    text-align: center;
    margin-bottom: 100px;
}
.expert
{
    width: 25%;
    padding: 2%;
    margin: 0% 2%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10%;
}
.ex
{
    margin: 0% 5%;
}
.footer-area
{
    background-color: black;
    height: 100px;
    text-align: center;
}
footer p
{
    color: gainsboro;
}