body
{
    font-family: 'Inter', sans-serif;
    margin: 0;
}
h1
{
    font-size: 40px;
}
.food-bangla
{
    color: orange;
}
.section-1
{
    display: flex;
    background-color: grey;
}
.s1div
{
    padding-left: 5%;
    width: 50%;
}
.s1div img{
    width: 60%;
}
.order{
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(#fdad00,#fe4f31);
    border-radius: 25px;
}